name: Update Daily Deals

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '47 0,6,12,18 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests google-generativeai

    - name: Run script
      env:
        COUPANG_ACCESS_KEY: ${{ secrets.COUPANG_ACCESS_KEY }}
        COUPANG_SECRET_KEY: ${{ secrets.COUPANG_SECRET_KEY }}
        GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
      run: python main.py

    - name: Commit and push changes
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git add .
        git commit -m "Auto update with Gemini Pro" || exit 0
        git push
