name: Coupang Auto Update

on:
  schedule:
    - cron: '0 0,6,12,18 * * *' # 매일 한국시간 09, 15, 21, 03시 실행
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Python Setup
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: pip install requests google-generativeai

      - name: Run Script
        env:
          COUPANG_ACCESS_KEY: ${{ secrets.COUPANG_ACCESS_KEY }}
          COUPANG_SECRET_KEY: ${{ secrets.COUPANG_SECRET_KEY }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        run: python main.py

      - name: Push Changes
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add.
          if! git diff-index --quiet HEAD; then
            git commit -m "chore: 일일 자동 업데이트 ($(date +'%Y-%m-%d')) [skip ci]"
            git push
          fi
